<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryption</title>
</head>
<body>
    <div align="center">Welcome to cryption</div>
    <div>
        <a href="http://<%= base_url %>/login">Login</a>
    </div>
    <div>
        <a href="http://<%= base_url %>/register">Register</a>
    </div>
</body>
</html>